header{
    background-image: none;/*Banner 1*/
    min-height: 20vh;
}

#navBar{
    background-color: palevioletred;
}

.drawHead h1{
    text-align: center;
    padding: 10px;
}

/*canvas styles*/

.fullCanvas{
    height: 90vh;
    letter-spacing: 1px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    border: 3px solid red;
}

div.show-settings{
    position: absolute;
    top: 5px;
    left: 10px;
    cursor: pointer;
    z-index: 5;
}

div .show-settings i{
    font-size: 30px;
}


div.settings{
    padding-top: 40px;
    position: absolute;
    height: 80vh;
    width: 210px;
    background: rgb(178, 178, 236);
    top: 0;
    left: 100px;
    display: flex;
    left: -205px;
    flex-direction: column;
    z-index: 1;
}

div.open-settings{
    left: 0;
}

div.settings button{
    padding: 5px 10px 5px 10px;
    margin: 10px;
    border-radius: 10px;
    outline: none;
    background: white;
    font-weight: 500;
}


/* colors */

div.colors{
    display: none; /*grid*/
    margin: 10px;
    width: 200px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px 20px;
    grid-template-areas:
     ". . ."
     ". . ."
     ". . .";

}

div.colors-toggle{
    display: grid;
}

.clr{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.clr:nth-child(1){
    background: red;
}
.clr:nth-child(2){
    background: orange;
}
.clr:nth-child(3){
    background: yellow;
}
.clr:nth-child(4){
    background: green;
}
.clr:nth-child(5){
    background: blue;
}
.clr:nth-child(6){
    background: pink;
}
.clr:nth-child(7){
    background: brown;
}
.clr:nth-child(8){
    background: black;
}
.clr:nth-child(9){
    background: violet;
}


/* brushes */

div.brush{
    /* display: flex; */
    justify-content: space-around;
    align-items: center;
    width: 200px;
    display: none;
}

div.brush-toggle{
    display: flex;
}

div.brush-size{
    background: rgba(0, 0, 0, 1);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 1);
    border-radius: 50%;
}

div.br1{
    height: 10px;
    width: 10px;
}
div.br2{
    height: 20px;
    width: 20px;
}
div.br3{
    height: 30px;
    width: 30px;
}

