/*landing page main part with navigation and Main banner*/
body{
    background-image: url("../media/dashboard_images/dashboard_banner.jpg");
    background-position: center;
    background-size: cover;
}

#navBar .menu a{
    color: white;
}
.container{
    position: relative;
    display: flex;
    
}
.bigContainer .container .left_part {
    width: 50%;
}

.container .cardpack .card{
    background-color: rgb(236, 219, 219);
    min-width: 300px;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 40px;
}

.container .cardpack .card:hover {
    transform: scale(1.05);
}

/* Animation on card images */
.container .cardpack .card .card-image img {
    transition: transform 0.3s ease-in-out;
    margin-bottom: 10px;
}

.container .cardpack .card .card-image img:hover {
    transform: scale(1.1);
} 

.bigContainer .container .right_part {
    width: 50%;
}

.bigContainer .container .right_part img{
    float: right;
    width: 70%;
}

.container .topic {
    position: absolute;
    top: 5em;
    right: 30em;
    height: 200px;
    width: 238px;
    padding: 5px;
    text-align: center;
    background-image: url("../media/dashboard_images/dashboard_dialogBox.png");
    background-position: center;
    background-size: cover;
}

.bigContainer .shortfooter{
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 50px;
    color: white;
    text-align: center;
}

.bigContainer .shortfooter hr {
    color: white;
}

