/*landing page main part with navigation and Main banner*/
.bigContainer{
    background-image: url("../media/dashboard_images/dashboard_banner.jpg");/*Banner 1*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#navBar .menu a{
    color: white;
}
.container{
    position: relative;
    display: flex;
    top: 5rem;
}
.container .shortfooter{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    color: white;
    text-align: center;
}

.container .shortfooter hr {
    color: white;
}

.container .topic {
    position: absolute;
    top: 5em;
    right: 30em;
    height: 200px;
    width: 238px;
    padding: 5px;
    text-align: center;
    background-image: url("../media/dashboard_images/dashboard_dialogBox.png");
    background-position: center;
    background-size: cover;
}

.container .cardpack .card{
    background-color: rgb(236, 219, 219);
    min-width: 300px;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 40px;
}

.container .cardpack .card:hover {
    transform: scale(1.05);
}

/* Animation on card images */
.container .cardpack .card .card-image img {
    transition: transform 0.3s ease-in-out;
    margin-bottom: 10px;
}

.container .cardpack .card .card-image img:hover {
    transform: scale(1.1);
} 

.container .side_image{
    max-width: 40%;
}