.Gcard-1, .Gcard-2, .Gcard-3, .Gcard-4{
    width: 20%;
    height: 35vh;
    padding: 20px 0;
    margin: 1rem 1rem 4rem 1rem;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
    justify-content: center;
}


.cardpack .Gcard-1:hover{
    transform: translateY(-2.1rem);
}
.cardpack .Gcard-2:hover{
    transform: translateY(-2.1rem);
}
.cardpack .Gcard-3:hover{
    transform: translateY(-2.1rem);
}
.cardpack .Gcard-4:hover{
    transform: translateY(-2.1rem);
}

.cardpack .Gcard-1 ul li{
    list-style-type: none;
    margin-top: 30%;
    margin-left: 40%;
}

.cardpack .Gcard-2 ul li{
    list-style-type: none;
    margin-top: 30%;
    margin-right: 40%;
}

.cardpack .Gcard-3 ul li{
    list-style-type: none;
    margin-top: 30%;
    margin-left: 40%;
}

.cardpack .Gcard-4 ul li{
    list-style-type: none;
    margin-top: 30%;
    margin-right: 40%;
}

.cardpack ul li a{
    text-decoration: none;
    font-size: 40px;
    color: black;   
}

.cardpack .Gcard-1{
    /* background-color: #D2DE32; */
    background-image: url("../media/border.png");
    background-size:cover;
    background-position:left;

}

.cardpack .Gcard-2{
    /* background-color:#FF5B22; */
    background-image: url("../media/border.png");
    background-size:cover;
    background-position:right;
}

.cardpack .Gcard-3{
    /* background-color:#FFC5C5; */
    background-image: url("../media/border.png");
    background-size:cover;
    background-position:left;

}

.cardpack .Gcard-4{
    /* background-color:#7752FE; */
    background-image: url("../media/border.png");
    background-size:cover;
    background-position:right;

}