*{
    margin: 0;
    padding: 0;
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
}

body{
    background-color: #f1f1f1;
    font-family: 'Concert One';
    width: 100%;
}

/*landing page main part with navigation and Main banner*/
header{
    overflow: hidden;
    background-image: url("../media/Banner1.jpg");/*Banner 1*/
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}

/*navigation bar*/
nav{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    transition: 0.5s;
    
}
/*logo*/
nav img {
    margin-left: 30px;
    margin-top: 10px;
    width: 100px;
    background-color: white;
    border-radius: 15px;
}
/*navigation button list*/
nav ul {
    list-style-type: none;
}
nav ul li{
    display: inline;
}
nav ul li a{
    text-decoration: none;
    font-size: 1.5rem;
    margin-right: 2.5rem;
    color: blueviolet;
}
nav ul li a:hover{
    color: red;
    text-decoration: underline;
}
nav ul li form{
    display: inline;
}
nav ul li select{
    color: blueviolet;
    font-size: 1.5rem;
    font-family: 'Concert One';
    border:2px solid blueviolet;
    padding: 8px;
    border-radius: 8px;
}

/*style for active page*/
.active{
    text-decoration: underline;
}
/*working with js as a stickey bar*/
.navScroll{
    background-color: white;
    box-shadow: 2px 2px 10px black;
    transition: 0.5s;
    height: 50px;
}
.logoScroll{
    width: 30px;
    margin-top: 5px;
}

/*working in smaller screens to toggle the menu (default is hidden)*/
#menuIcon{
    font-size: 2rem;
    color: blue;
    cursor: pointer;
    display: none;
    padding-right: 1rem;
    padding-left: 1rem;
    transition: 1s;
}


/*main banner part*/
header .headBanner {
    padding-top: 10rem;
    padding-left: 5%;
    padding-right: 5%;
}

header .headBanner h1 {
    font-size: 60px;
    padding-bottom: 20px;
    color: #527c6c;
    transition: 1s;
}
header .headBanner p{
    font-size: 25px;
    padding-bottom: 30px;
    color: rgb(0, 0, 0);
    width: 50%;
    transition: 1s;
}
/*sign up button*/
header .headBanner h3 a {
    text-decoration: none;
    font-size: 30px;
    color: rgb(249, 248, 248);
    margin: 10px;
    padding: 10px 15px;
    background-color: rgb(144, 0, 255);
    border-radius: 15px;
    text-align: center;
    transition: 1s;
}
header .headBanner h3 a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(144, 0, 255);
}


/*part1 - introduction part*/
.container .part1{
    overflow: hidden;
    background-image: url("../media/Banner2.jpg");/*Banner 2*/
    background-size: cover;
    min-height: 120vh;
    background-position: center;
    background-repeat: no-repeat;
}
.part1 .content{
    padding-top: 10rem;
    padding-right: 40px;
    width: 40%;
    float: right;
}
.part1 h1{
    font-size: 60px;
    padding: 0 0px 30px 10px;
}
.part1 p{
    font-size: 20px;
    padding-bottom: 5rem;
}
.part1 h3{
    display: flex;
    align-items: center;
    justify-content: center;
}
.part1 h3 a{
    text-decoration: none;
    font-size: 30px;
    color: rgb(249, 248, 248);
    margin: 10px;
    padding: 10px 15px;
    background-color: rgb(144, 0, 255);
    border-radius: 15px;
    text-align: center;
    transition: 1s;
}


/*part2 - our programes part*/
.container .part2{
    overflow: hidden;
    background-image: url("../media/Banner3.png");/*Banner 3*/
    background-size: cover;
    min-height: 120vh;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 4rem;
}
.part2 .content{
    text-align: center;
    margin-top: 10rem;
    padding: 0 5%;
}
.content h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}
.content p{
    font-size: 1.5rem;
    margin-bottom: 3rem;
}
.cardpack{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}

.cardpack .card{
    width: 40%;
    margin: 1rem 1rem 4rem 1rem;
    border-radius: 0.5rem;
    text-align: center;
    background-color: rgba(55, 203, 45, 0.5);
    padding: 1rem;
    cursor: pointer;
    transition: 0.5s;
}

.cardpack .card:hover{
    transform: translateY(-2.1rem);
}
.card .card-image img{
    width: 100%;
}


/*part 3 review part*/
.containerPart3{
    overflow: hidden;
    background-image: url("../media/Banner4.png");/*Banner 4*/
    background-size: cover;
    min-height: 120vh;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 4rem;
    
}
.part3 h1{
    text-align: center;
    margin-top: 5rem;
    font-size: 400%;
}

.part3 .content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 0%;
    margin-top: 6rem;
}

.part3 .reviewPic{
    width: 40%;
    margin: 0 2.5rem;
}

.part3 .reviewPic img{
    border-right: 15px solid yellow;
    border-bottom: 15px solid yellow;
    border-radius: 5rem;
}

.part3 .reviewContent{
    width: 35%;
    height: 25rem;
    border-right: 15px solid yellow;
    border-bottom: 15px solid yellow;
    background-color: #f1f1f1;
    margin: 0 2.5rem;
    padding: 3%;
    border-radius: 5rem;
}

.part3 .reviewContent i{
    font-size: 70px;
    margin-bottom: 40px;
}

/*part 4 our team*/

.container .part4{
    overflow: hidden;
    min-height: 101vh;
    margin-top: 4rem;
}
.part4 h1{
    text-align: center;
    font-size: 3rem;
}

.part4 h3{
    text-align: center;
}
.part4 h3 a{
    text-decoration: none;
    font-size: 30px;
    color: rgb(249, 248, 248);
    margin: 10px;
    padding: 10px 15px;
    background-color: rgb(144, 0, 255);
    border-radius: 15px;
    text-align: center;
    transition: 1s;
}

.part4 h3 a:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(144, 0, 255);
}


.part4 .profileCards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 0%;
    margin-top: 3rem;
}

.profileCards .Pcard{
    width: 20%;
    margin: 1rem 1rem 4rem 1rem;
    border-radius: 0.5rem;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(31, 31, 31, 0.422);;
    padding: 1rem;
    cursor: pointer;
    transition: 0.5s;
}

.profileCards .Pcard:hover{
    box-shadow: 5px 10px 8px #888888;
}

.Pcard .Pcard-image img{
    width: 100%;
    border-radius: 30rem 50rem;
}

.profileCards .Pcard h3{
    font-size: 2rem;
    margin: 2rem 0 1rem 0;
}

.profileCards .Pcard h4{
    font-size: 1rem;
    margin: 0 0 1rem 0;
    color: rgb(51, 0, 255);
}


/*footer area*/

.mainFooter {
    overflow: hidden;
    background-image: url("../media/Banner5.png");/*Banner 1*/
    background-size: cover;
    min-height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 10rem;
    color: white;
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;

}
.mainFooter .content{
    display: flex;
    /*align-items: center;*/
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 5%;
    margin-top: 6rem;
}

/*Company logo and social media icons*/
.content .company{
    width: 30%;
    
}
.content .company img{
    width: 70px;
}
.company p{
    font-size: 1rem;
    margin: 1rem 0;
}

.social ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}
.social ul li{
    margin-right: 20px;
}
.social ul li i{
    font-size: 20px;
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    padding: 8px;
    transition: 0.5s;
}
.social ul li i:hover{
    background-color: white;
    color: rgb(255, 4, 234);
    transition: 0.5s;
}


/*pages, programs, lessons and contact parts*/

.pages ul li, .programes ul li, .lessons ul li, .contact ul li{
    list-style-type: none;
    margin-top: 15px;
    
}

.content h3{
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
}
.content a{
    text-decoration: none;
    color: white
}

.content a:hover{
    color: rgb(63, 58, 63);
    transition: 0.5s;
}

/*baseline footer*/
.mainFooter .baseline{
    font-size: 1rem;
    text-align: center;
    padding: 5px;
    border-top: 1px solid white;
    margin-top: 5rem;
    
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%; 
    height: 40px;
}



/*Media queries*/

/*laptop*/
@media screen and (max-width: 1024px){
    #headBannerSize h1{
        font-size: 250%;
    }
}

/*tablet */
@media screen and (max-width: 768px) {
    /*shrinking the 3 parts of main banner*/
    #headBannerSize h1{
        font-size: 200%;
    }
    #headBannerSize p{
        font-size: 150%;
    }
    #menuIcon{
        display: block;
    }

    /*after menu icon (cross)*/
    .fa-xmark {
        transform: rotate(180deg);
        transition: 1s;
    }

    /*shrinking navigation bar*/
    #navBar {
        background-color: white;
        transition: 0.5s;
        height: 50px;
    }
    #navBar img{
        width: 30px;
        margin-top: 5px;
    }

    /*full size menu*/
    #navBar ul{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: white;
        border-top: 0.1rem solid black;
        padding: 1rem 2rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); /*hiding the menu from square pologon*/
        transition: 0.5s;
    }
    #navBar ul li{
        display: block;
        margin: 1.5rem 0;
        padding: 1rem;
        background-color: rgb(221, 82, 82);
        text-align: center;
        border-radius: 10px;
    }
    #navBar ul li :hover{
        color: white;
    }

    /*working with js to toggle menu*/
    #navBar .menuToggle{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        transition: 0.5s;
    }

    /*programe cards in part 2*/

    .part2 .content .cardpack .card{
        width: 39%;
    }

    /*review boxes in part 3*/

    .part3 .content .reviewPic{
        width: 60%;
        margin: 0 2.5rem 2.5rem 2.5rem;
    }

    .part3 .content .reviewContent{
        width: 60%;
    }
    
}

/*mobile phone*/
@media screen and (max-width: 426px) {
    /*shrinking the navigation bar*/
    #headBannerSize h1{
        font-size: 200%;
        text-align: center;
    }
    #headBannerSize p{
        font-size: 120%;
        text-align: center;
        width: 100%;
        
    }

    /*programe cards in part 2*/

    .container .part2 .content .cardpack .card{
        width: 90%;
    }

    /*review boxes in part 3*/

    .part3 .content .reviewPic{
        width: 80%;
        margin: -2.5rem 2.5rem 2.5rem 2.5rem;
    }
}