.cardpack .card{
    width:20%;
    background-color: rgb(236, 219, 219);
    transition: transform 0.3s ease-in-out;
}
.container .cardpack .card:hover {
    transform: scale(1.05);
}

.mainFooter{
    position: relative;
}

.cardpack h3{
    font-size: 20px;
    margin-bottom: 10px;
}

.cardpack .card-image{
    position: relative;
}

.card .card-image .overlayVideo{
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(8, 8, 8));
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    color: white;
    font-size: 50px;
    transition: 0.5s;
}

.overlayVideo i{
    position: relative;
    top: 35%;
}

.cardpack .card:hover{
    transform: none;
}


.card:hover .overlayVideo{
    opacity: 1;
    transition: 0.5s;
}

.overlayVideo p{
    position: relative;
    font-size: 20px;
    top: 60%;
    text-align: right;
    padding: 0 10px 0 10px;
}

/*selectively show and hide content*/

.container div {
    display:none;
}

.container div:target{
    display:block;
}

.container div:target div{
    display:flex;
}

.container div:target div div{
    display:block;
}

/*iframe player */

.vplayer{
    width: 95%;
    height: 100vh;
    margin: auto;
    display: none;
    align-items: center;
    justify-content: center;
}

.vplayer iframe{
    display: block;
    margin: auto;
    top: 10px;
    box-shadow: 0px 0px 73px 42px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 0px 73px 42px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 73px 42px rgba(0,0,0,0.75);
    

}