body {
  padding: 50px; /* Adjust padding for better mobile view */
  background-image: url("media/appleTree.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: beige;
}

.display{
  display: flex;
}

.appleContainer {
  text-align: center;
  margin-top: 20px;
  border: 2px solid red;
  border-style: dashed;
  border-width: 3px; 
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  padding: 15px; 
  background-color: #ffff;
  max-width: 500px; 
  justify-content: center;
  margin-left: auto;
  margin-right: auto; 
}

.appleContainer h1{
  font-family: Changa;
  color: blueviolet;
  font-style: italic;
  font-weight: bold ;
  justify-content: center;
}

.appleContainer button{
    background-color: #18e91f;
    margin-top: 10px;
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    display:inline;
    box-shadow: 0 0 20px rgba(0, 1, 1, 0.3);
}

input[type="number"] {
  width: 90%; /* Adjust width for smaller screens */
  font-size: 24px; /* Reduced font size for better fit */
  padding: 10px; 
  border-radius: 8px; 
}

/* Increase the size of the placeholder text */
input[type="number"]::placeholder {
  font-size: 10pt; 
  align-content: center;
}

#gameArea {
  margin-top: 10px;
  align-items: center;
}

#appleContainer {
  margin: 5px;
  align-items: center;
}

img{
  width:5em;
  height:5em;
}

.containerOuter #result{
  text-align:left;
  padding-top: 50px;
  text-shadow: rgba(0, 0, 0, 0.3);
  font-size: 50pt;
  font-weight: bold;
  color: violet;
}

.containerOuter #score{
  /* padding-top:5px; */
  font-size: 2em;
  font-weight:bold;
  color:black;
}

.containerOuter #tries{
  font-size: 2em;
  font-weight:bold;
  color:black;
  padding-top: 1em;
}

/* back button */
.back-button img {
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px; /* Adjust as needed to position vertically */
  left: 10px; /* Adjust as needed to position horizontally */
  z-index: 1; /* Ensure the back button is above other elements */
  /* Add additional styles as needed */
}

/*logo*/
.logo img{
  position: relative;
  margin-inline: 30px;
  width: 100px;
  background-color: white;
  border-radius: 15px;
  transition: transform 0.2s ease-in-out;
}

/*Animation of shake for logo*/
.logo img:hover {
  animation: shake 0.6s ease-in-out;
}

@keyframes shake {
  0% {
      transform: translateX(0);
  }

  20% {
      transform: translateX(-10px) rotate(3deg);
  }

  40% {
      transform: translateX(10px) rotate(-3deg);
  }

  60% {
      transform: translateX(-10px) rotate(2deg);
  }

  80% {
      transform: translateX(10px) rotate(-2deg);
  }

  100% {
      transform: translateX(0);
  }
}